#!/usr/bin/make -f

DEB_HOST_GNU_TYPE   ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
DEB_BUILD_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

%:
	dh $@

override_dh_autoreconf:
	NOCONFIGURE=1 ./autogen.sh

override_dh_configure:
	./configure $(confflags) \
		--prefix=/usr --sysconfdir=/etc \
		--localstatedir=/var \
		--disable-update-categorydb \
		--with-compile-warnings=yes \
		--enable-gtk-doc
	touch configure-stamp
